{% load yatra %}<div class="trust">
  <div>{% icon "shield" %}<div><b>No payment to start</b><span>A deposit only when you are ready to book</span></div></div>
  <div>{% icon "altitude" %}<div><b>Every night's height shown</b><span>See the acclimatisation before you commit</span></div></div>
  <div>{% icon "people" %}<div><b>Licensed local guides</b><span>Government-licensed and briefed on your plan</span></div></div>
  <div>{% icon "check" %}<div><b>Itemised, written quotes</b><span>Permits, flights and stays on separate lines</span></div></div>
</div>
